body {
  color: #6c757d;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  line-height: normal;
  margin-left: 40px;
  margin-right: 40px;
  background-color: ghostwhite;
}

h1,
h2 {
  text-align: left;
  font-weight: 900;
  margin: 0;
}

h2 {
  color: #0d6efd;
  font-size: 28px;
  padding: 0;
  margin-top: 36px;
}

h3 {
  font-size: 24px;
  line-height: 16px;
  padding: 0;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  margin-top: 0;
  text-align: center;
}

p {
  color: #6c757d;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

p.small-txt {
  color: #6c757d;
  font-size: 14px;
  margin-top: 4px;
}

p.date {
  color: #6c757d;
  opacity: 70%;
  font-size: 12px;
  margin-top: 4px;
}

img {
  display: block;
  max-width: 700px;
  max-height: fit-content;
  margin: auto;
}

input {
  border-radius: 0, 0 12px;
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 200ms ease;
}

input:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

section {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
}

section.five-day-forecast {
  display: block;
  margin-top: 0px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

li {
  color: #6c757d;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  margin-left: 0;
}

li.description {
  margin-top: 16px;
  line-height: 16px;
  color: #6c757d;
}

footer {
  display: block;
  text-align: center;
  margin-top: 40px;
}

.weather-app {
  align-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  display: block;
  padding: 20px;
  max-width: 622px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

p.card-text {
  font-size: 12px;
  font-weight: normal;
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  text-align: center;
}

.card-text:last-child {
  margin-bottom: 16px;
  height: 16px;
}

div.searchBar {
  margin-top: 0px;
  column-width: auto;
  display: block;
  display: flex;
}

div.container {
  align-content: center;
  display: block;
  padding: 0;
  max-width: 622px;
}

div.col-4 {
  max-width: 100%;
  margin-top: 56px;
}

div.top-col-2 {
  margin-top: 40px;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 133px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

div.col-2 {
  flex: 12%;
  padding: 4px;
  margin: 4px;
  position: relative;
  display: flex;
  min-width: 108px;
  max-width: 108px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --bs-gutter-x: 24px;
  align-content: center;
  flex-wrap: nowrap;
}

div.weather-icon-lrg {
  font-size: 100px;
  display: inline-block;
}

.form-outline {
  display: flex;
  flex-wrap: wrap;
}

span.limited-spots {
  font-weight: bold;
}

div.button-container {
  margin: 60px 0;
}

.feels-like {
  vertical-align: text-top;
  line-height: 40px;
  color: #6c757d;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  display: inline;
  vertical-align: middle;
  max-width: 700px;
  max-height: fit-content;
  margin: auto;
}

div.card {
  margin-top: 8px;
  padding: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

div.side-card {
  margin-top: 0px;
  margin-right: 0px;
  max-width: 120px;
  min-width: 98px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  padding: 4px;
}

h5.card-title {
  font-size: 14px;
  font-weight: normal;
  margin-top: 12px;
}

h3.temperature {
  display: block;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

div.container {
  align-content: center;
  display: block;
  padding: 0;
  max-width: 622px;
}

form {
  display: flex;
  justify-content: space-between;
}

input.form-control {
  border-radius: 8px 0 0 8px;
  color: #6c757d;
  opacity: 70%;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bcc0c5;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(218, 224, 233, 0.25);
}

.lrgTemp {
  vertical-align: text-top;
  text-align: left;
  line-height: 28px;
  font-size: 64px;
  font-weight: bold;
  color: #0d6efd;
}

.units {
  color: #6c757d;
}

.lrgTempUnits {
  text-align: left;
  font-size: 33px;
  font-weight: bold;
  color: #0d6efd;
}

.smTempUnits {
  vertical-align: top;
  font-size: 12px;
  line-height: 38px;
  color: #6c757d;
  margin-top: auto;
}

.weather-temperature img {
  margin-left: 8px;
  margin-right: 8px;
  height: 80px;
  width: 80px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -10px;
}

.weather-temperature .active {
  color: #0d6efd;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 16px;
  text-align: center;
  color: #6c757d;
}

.weather-forecast-date {
  font-size: 14px;
  font-weight: normal;
  margin-top: 12px;
  color: #6c757d;
}

.weather-forecast-smdate {
  font-size: 12px;
  font-weight: normal;
  margin-top: 12px;
  color: #6c757d;
}

.weather-forecast-temperature-min {
  opacity: 50%;
}

.weather-forecast-temperatures {
  margin-bottom: 16px;
  line-height: 8px;
  color: #6c757d;
}

.weather-forecast-description {
  color: #6c757d;
  opacity: 70%;
  font-size: 12px;
  margin-top: 4px;
}

.daily-forecast-title {
  color: #54585b;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 32px;
  margin-top: 4px;
}

.section-title {
  color: #54585b;
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  line-height: 32px;
  margin-top: 32px;
}

section {
  display: block;
  margin-top: 12px;
  margin-bottom: 16px;
}

.footer {
  color: #6c757d;
  opacity: 60%;
  font-size: 12px;
  margin-top: 0;
}

footer {
  display: block;
  text-align: center;
  margin-top: auto;
}

div.clearfix.weather-temperature {
  margin-top: 12px;
  margin-bottom: 12px;
}
